{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}bg-dark{% endblock %}


{% block content %}

    <div class="blog">
        <div class="blog-body top-space">
            <div class="container">
                <div class="row">
                     <div class="col-md-8 col-md-offset-2">
						 {% for entry in self.blog_entries.all %}
                          <div class="blog-title">
                              {{ entry.title|richtext }}
                          </div>                          
						  <!--<div class="blog-date">
                             {{ entry.date|date}}
                          </div>  -->                         
                          <div class="well top-blog-space bg-light">
                            <div align="left">{{ entry.body|richtext }}</div>
                            <div align="right" style="color: #606060"><i>{{ entry.author|richtext}}
                            {{ entry.date|date }}</i></div>
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>  
	

{% endblock %}
