{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well top-space bg-light">
							<h2>{{ self.title }}</h2>
                            {{ self.thank_you_text|richtext }}
						</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
