{% extends "base.html" %}

{% load static core_tags i18n partner_tags wagtailcore_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block body_class %}bg-dark{% endblock %}

{% block body_params %}id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"{% endblock %}

{% block content %}
    <header class="intro">
        <div class="intro-body">
            <div class="container top-space">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ self.display_title }}</h1>
                        <div class="intro-text">
							<strong>{{ self.tag_line }}</strong><br />
							{{ self.notification|safe }}
						</div>
						<a href="#s{{ self.sections.first.pk }}" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% for section in self.sections.all %}
    <section id="s{{ section.pk }}" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{{ section.title }}</h2>
                {{ section.body|richtext }}
            </div>
        </div>
    </section>
    {% endfor %}

	<!-- Partners Section -->
    <section id="partners" class="container content-section text-center">
		{% partners %}
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>{{ self.footer_content|safe }}</p>
        </div>
    </footer>
{% endblock %}
